:root {
	--card-width: 10vw;
	--card-height: calc(var(--card-width) * 1.618);
}

* {
	user-select: none;
}

.card-sizes {
	height: var(--card-height);
	width: var(--card-width);
}

.card-border-radius {
	border-radius: 10%;
}
